<header color="primary">
    <div class="logo">
        <img src="./assets/images/greenberry-logo.jpg" />
        <span class="amb">&</span>
        <img src="./assets/images/REJ-logo.jpg" />
    </div>

    <hr />

    <div>
        <h1 id="app-title">Investment Simulation</h1>
    </div>
</header>

<div class="main">
    <app-screen-app class="dont-print" [application]="application"></app-screen-app>
    <print-app class="only-print" [application]="application"></print-app>
</div>

<footer>
    <img src="./assets/images/madrid.png" id="footer-logo" />

    <p class="only-print" id="rights">
        &copy; All rights are reserved to Real Estate in Jeans. No other party may distribute, copy, publish or transmit
        it without the prior written consent of the rights holders.
    </p>
</footer>