#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#app-title {
    margin-inline-start: 8px;
    flex: 1;
}

#app-logo {
    height: 90%;
    margin-inline-end: auto;
}