:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #3f51b5;
    color: white;
}

header > img{
    height: 100px;
    margin: 0 10px;
}

#app-title {
    margin-inline-start: 12px;
    flex: 1;
}

app-inversion{
    flex: 1;
}

#footer-logo {
    width: 100%;
}

@media print{
    footer{
        position: fixed;
        bottom: 0;
    }
}
