<main>
    <mat-card>
        <mat-card-title>Property</mat-card-title>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Property Cost</mat-label>
                <input matInput [(ngModel)]="inversion.propertyCost" type="number" required appThousands />
            </mat-form-field>
        </div>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <label>Additional Cost</label>
                <div id=total-additionalcost class="flex-push-end">
                    <label>Total: </label>
                    <span class="output-element">{{inversion.additionalCosts.total | number:'1.0-0'}}</span>
                </div>
            </mat-expansion-panel-header>

            <mat-card>
                <mat-card-title>Financing Expenses</mat-card-title>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Taxes & Fees</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.financTaxes" type="number" percentage />
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.financTaxesTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Appraisal</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.appraisal" type="number" />
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.appraisalTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>


                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Mortgage Fees</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.mortgageFees" type="number" percentage />
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.mortgageFeesTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="card-total-row">
                    <label class="card-total-row-label">Total</label>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.financTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card>
                <mat-card-title>Additional Costs</mat-card-title>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Purchase Tax</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.purchaseTax" type="number" percentage />
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.purchaseTaxTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Due Diligens Reports</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.diligensReports" type="number"
                            percentage />
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">
                            {{inversion.additionalCosts.diligensReportsTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Notary & Property Registration</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.notary" type="number" percentage />
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.notaryTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Tourist Use Permission</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.touristUsePermission" type="number" />
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">
                            {{inversion.additionalCosts.touristUsePermissionTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Legal Fees (Lawyers)</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.lawyers" type="number" percentage />
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.lawyersTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Legal (miscelaneous)</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.legal" type="number" />
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.legal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Process Fees (REJ & GB)</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.REJFees" type="number" percentage />
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.REJFeesTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="card-total-row">
                    <label class="card-total-row-label">Total</label>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.additionalTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

            </mat-card>

            <mat-card>
                <mat-card-title>Renovation Costs (Est.)</mat-card-title>

                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Property Size</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.propertySize" type="number" />
                    </mat-form-field>

                </div>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Cost per Sq.M</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.renovationCostPerM" type="number" />
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">
                            {{inversion.additionalCosts.renovationCostPropertyTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Accessories & Appliances</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.accesseories" type="number" />
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">{{inversion.additionalCosts.accesseoriesTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <div class="input-with-calc">
                    <mat-form-field appearance="standard">
                        <mat-label>Renovation Management</mat-label>
                        <input matInput [(ngModel)]="inversion.additionalCosts.renovationManagement" type="number"
                            percentage />
                    </mat-form-field>

                    <div class="calc-form-field">
                        <div class="calc-form-result">
                            {{inversion.additionalCosts.renovationManagementTotal | number:'1.0-0'}}
                        </div>
                    </div>
                </div>

                <mat-card-footer>
                    <label class="total-label">Total</label>
                    <label>{{inversion.additionalCosts.renovationTotal  | number:'1.0-0'}}</label>
                </mat-card-footer>

            </mat-card>

            <mat-card>
                <mat-card-title>Other Expenses</mat-card-title>

                <mat-form-field appearance="standard">
                    <mat-label>Unpredicted (Est.)</mat-label>
                    <input matInput [(ngModel)]="inversion.additionalCosts.unpredicted" type="number" />
                </mat-form-field>
            </mat-card>
        </mat-expansion-panel>
    </mat-card>

    <mat-card>
        <mat-card-title>Financing</mat-card-title>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Principal</mat-label>
                <input matInput [(ngModel)]="inversion.financing" type="number" required appThousands />
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label></mat-label>

                <input matInput [ngModel]="inversion.financing / inversion.propertyCost"
                    (ngModelChange)="inversion.financing = $event * inversion.propertyCost" type="number" step="0.01"
                    percentage />

                <span matSuffix>%</span>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Rate</mat-label>
                <input matInput [(ngModel)]="inversion.financingRate" type="number" step="0.01" percentage />
                <span matSuffix>%</span>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Years</mat-label>
                <input matInput [(ngModel)]="inversion.financingNPER" type="number" />
            </mat-form-field>
        </div>

        <mat-card-footer>
            <div>
                <label class="total-label">PMT</label>
                <label>{{inversion.PMT  | abs | number:'1.0-0'}}</label>
            </div>

            <div>
                <label class="total-label">Self Captial</label>
                <label>{{inversion.selfCapital | number:'1.0-0'}}</label>
            </div>

        </mat-card-footer>
    </mat-card>

    <mat-card>
        <mat-card-title>Rent</mat-card-title>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Daily Rent</mat-label>
                <input matInput [(ngModel)]="inversion.rent.dailyRent" type="number" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Yearly Change</mat-label>
                <input matInput [(ngModel)]="inversion.rent.yearlyChange" type="number" percentage />
                <span matSuffix>%</span>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Occupancy</mat-label>
                <input matInput [(ngModel)]="inversion.rent.occupancyPercentage" type="number" percentage />
                <span matSuffix>%</span>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Management Fees (%)</mat-label>
                <input matInput [(ngModel)]="inversion.rent.managementFees" type="number" percentage />
            </mat-form-field>
        </div>

        <mat-card-footer>
            <label class="total-label">Monthly Rent</label>
            <label>{{inversion.rent.monthlyIncome | number:'1.0-0'}}</label>
        </mat-card-footer>
    </mat-card>

    <mat-card>
        <mat-card-title>Exit</mat-card-title>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Investment Period</mat-label>
                <input matInput [(ngModel)]="inversion.investmentPeriod" type="number" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Current Property Value</mat-label>
                <input matInput [(ngModel)]="inversion.currentPropertyValue" type="number" appThousands />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Yearly Value Change</mat-label>
                <input matInput [(ngModel)]="inversion.propertyValueChange" type="number" step="0.01" percentage />
                <span matSuffix>%</span>
            </mat-form-field>
        </div>

    </mat-card>

    <div>
        <mat-card>
            <mat-card-title>Total Cashflow</mat-card-title>

            <div>
                <label class="total-label">Total Rent</label>
                <label>{{inversion.totalRent | number:'1.0-0'}}</label>
            </div>

            <div>
                <label class="total-label">Financial Expences</label>
                <label>{{inversion.financialExpenses | abs | number:'1.0-0'}}</label>
            </div>

            <div>
                <label class="total-label">Total Income</label>
                <label>{{inversion.totalCachflowIncome | number:'1.0-0'}}</label>
            </div>
        </mat-card>

        <mat-card>
            <mat-card-title>Balance</mat-card-title>

            <div>
                <label class="total-label">Future Property Value:</label>
                <span>{{inversion.futurePropertyValue | number:'1.0-0'}}</span>
            </div>

            <div>
                <label class="total-label">Loan Balance:</label>
                <span>{{inversion.loanExitBalance | abs | number:'1.0-0'}}</span>
            </div>

            <div>
                <label class="total-label">Total</label>
                <span>{{inversion.totalExitBalance | number:'1.0-0'}}</span>
            </div>
        </mat-card>

        <mat-card>
            <mat-card-title>Gain</mat-card-title>

            <div>
                <label class="total-label">Nominal Gain</label>
                <span>{{inversion.nominalGain | number:'1.0-0'}}</span>
            </div>

            <div>
                <label class="total-label">IRR</label>
                <span>{{inversion.IRR | percent:'1.2'}}</span>
            </div>
        </mat-card>
    </div>
</main>