/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.new-page {
  page-break-before: always;
}

@media print {
  body {
    font: 13pt Georgia, "Times New Roman", Times, serif;
    width: 21cm;
  }

  .dont-print {
    display: none !important;
  }
}

@media screen{
  .only-print {
    display: none !important;
  }
}

@page {
  margin: 0 1.5cm;
}
